version: '3'

services:
  bot:
    image: ainxxy/ytbot:latest  # 支持多架构
    container_name: ytbot
    restart: unless-stopped
    volumes:
      - ./downloads:/app/downloads
      - ./config.py:/app/config.py
    network_mode: "host"
    environment:
      - BOT_TOKEN=your_bot_token
      - ADMIN_USER_ID=your_user_id
      - HTTP_PROXY=your_proxy  # 可选
      - HTTPS_PROXY=your_proxy  # 可选
