services:
  ytbot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ytbot
    restart: unless-stopped
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - ADMIN_USER_ID=${ADMIN_USER_ID}
      - DOWNLOAD_PATH=/app/downloads
      # 如果需要代理，取消下面两行的注释并填入代理地址
      # - HTTP_PROXY=${HTTP_PROXY}
      # - HTTPS_PROXY=${HTTPS_PROXY}
    volumes:
      - ./downloads:/app/downloads
    network_mode: "host" 